.menu-div {
  overflow: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 100px;
  padding-top: 100px;
  .menu-card {
    width: 80%;
    max-width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
    img {
      width: 100%;
      height: 170px;
      overflow: hidden;
      object-fit: cover;
      border-radius: 6px;
    }
  }
}

@media (min-width: 800px) {
  .menu-div {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }
}
