/* this is for the nav-branding font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* this is for the general text across the site */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-branding {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 70px;
  flex-shrink: 0;
  z-index: 1;
  background-color: #262626;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  button {
    color: white;
    border: none;
    background-color: #262626;
    transition: 0.7s ease;
  }
  button:hover {
    color: dodgerblue;
  }
}

nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  button {
    font-size: 20px;
    font-weight: 700;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

#content {
  flex-grow: 1;

  /* this is for the fixed header and footers */
  margin-top: 70px;
  margin-bottom: 50px;
}

.carousel {
  position: relative;
  height: 100%;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide > div {
  position: absolute;
  top: 230px;
}

.slide-info {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.85);

  div {
    font-weight: 700;
  }

  button {
    margin-top: 10px;
    z-index: 1;
    border: none;
    background-color: #262626;
    padding: 15px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.85);
  }
}

.slide-two > .slide-info {
  top: 330px;
  .slide-two-text-one {
    font-size: 60px;
  }
  .slide-two-text-two {
    font-size: 40px;
  }
}

.slide-three > .slide-info {
  top: 350px;
}

.slide-three > .slide-info > .slide-three-text-two {
  font-size: 25px;
}

.slide.active {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  background-color: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
}

.carousel-button.prev {
  left: 1rem;
  top: 90%;
}

.carousel-button.next {
  right: 1rem;
  top: 90%;
}

footer {
  display: flex;
  height: 50px;
  color: white;
  background-color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-number {
  font-weight: 700;
  margin-bottom: 6px;
}
